* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

.collection {
  width: 100%;
  height: auto; }
  .collection-content img {
    width: 100%;
    height: auto;
    object-fit: contain; }
  .collection p {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px; }
