* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

section.form-home {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  padding: 100px 0; }
  section.form-home .container {
    margin: 0 auto;
    padding: 0; }
    section.form-home .container .form-contact {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      section.form-home .container .form-contact .top-title h2 {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        max-width: 50%;
        justify-content: center; }
        section.form-home .container .form-contact .top-title h2 span.content {
          margin-right: 10px;
          font-size: 26px;
          font-weight: bold; }
        section.form-home .container .form-contact .top-title h2 span.logo img {
          max-width: 100px;
          height: auto; }
        section.form-home .container .form-contact .top-title h2 span {
          display: flex;
          justify-content: center;
          align-items: center; }
      section.form-home .container .form-contact span.email input {
        border-top: none;
        border-bottom: 1px solid #000;
        border-left: none;
        border-right: none;
        outline: none;
        text-align: center; }
      section.form-home .container .form-contact .gender {
        margin-top: 30px; }
        section.form-home .container .form-contact .gender .main-content {
          width: max-content;
          display: flex;
          flex-direction: row; }
          section.form-home .container .form-contact .gender .main-content span.male {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 40px;
            border: 1px solid #000;
            margin-right: 40px;
            font-size: 14px;
            cursor: pointer; }
          section.form-home .container .form-contact .gender .main-content span.female {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 40px;
            border: 1px solid #000;
            font-size: 14px;
            cursor: pointer; }
      section.form-home .container .form-contact .sign-up {
        margin-top: 30px; }
        section.form-home .container .form-contact .sign-up a {
          display: inline-flex;
          width: 200px;
          height: 45px;
          border: 2px solid #000;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: #000;
          font-size: 16px; }
          section.form-home .container .form-contact .sign-up a:hover {
            background-color: #f99d1c;
            color: #fff;
            border: none; }
      section.form-home .container .form-contact span.email,
      section.form-home .container .form-contact .gender,
      section.form-home .container .form-contact .sign-up {
        display: flex;
        justify-content: center; }
      section.form-home .container .form-contact .icon-social {
        margin-top: 20px;
        display: flex;
        justify-content: center; }
        section.form-home .container .form-contact .icon-social .main-social {
          width: max-content; }
          section.form-home .container .form-contact .icon-social .main-social a.facebook img {
            width: 60px;
            height: 60px; }
          section.form-home .container .form-contact .icon-social .main-social a.insta img {
            width: 90px;
            height: 90px; }
          section.form-home .container .form-contact .icon-social .main-social a.gmail img {
            width: 70px;
            height: 70px; }
