* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

.home {
  width: 100%;
  position: relative;
  display: flex;
  min-height: 1008px;
  font-size: 25px;
  font-weight: 600; }
  .home-logo {
    position: absolute;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .home-logo img {
      width: 300px;
      height: auto;
      object-fit: contain; }
  .home-man {
    cursor: pointer;
    padding-left: 300px;
    padding-top: 143px;
    color: #000000;
    width: 50%;
    background-image: url(../img/header/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .home-man:hover {
      color: beige; }
  .home-women {
    cursor: pointer;
    color: #FB7C35;
    width: 50%;
    padding-top: 143px;
    background-image: url(../img/header/home-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .home-women p {
      text-align: center; }
    .home-women:hover {
      color: beige; }
