* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

ul {
  display: flex;
  margin: 0; }

header {
  width: 100%; }
  header nav {
    min-height: 80px; }
    header nav .nav-content {
      padding-left: 30px;
      padding-right: 30px;
      width: 100vw;
      min-height: 80px;
      justify-content: space-between;
      align-items: center;
      border-top: 2px solid #000000;
      border-bottom: 2px solid #000000; }
      header nav .nav-content .col-select li,
      header nav .nav-content .col-sign li {
        margin-right: 15px;
        display: flex;
        align-items: center; }
        header nav .nav-content .col-select li a,
        header nav .nav-content .col-sign li a {
          color: #000000;
          font-weight: 700;
          text-decoration: none; }
      header nav .nav-content .col-logo img {
        width: auto;
        object-fit: contain;
        height: 50px; }
  header .bottom-header {
    padding-left: 100px;
    border-bottom: 2px solid #000000; }
    header .bottom-header ul li {
      margin-right: 150px; }
      header .bottom-header ul li a {
        color: #000;
        font-size: 13px; }
      header .bottom-header ul li svg {
        margin-bottom: 2px; }
  header .slider-header {
    width: 100%; }
    header .slider-header .slider-first {
      height: 730px;
      width: auto;
      background-image: url(../img/introduce/bai3/slideshow_3.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
    header .slider-header .slider-second {
      height: 730px;
      width: auto;
      background-image: url(../img/introduce/bai3/Untitled-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }

.introduce {
  margin-top: 100px;
  max-width: 1190px;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .introduce-content .about .title {
    color: #F47B36;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px; }
  .introduce-content .about-col {
    margin-top: 30px; }
    .introduce-content .about-col img {
      width: 100%;
      height: 526.25px;
      object-fit: cover; }
  .introduce-content .about .sub-person {
    background-color: #C4C4C4;
    height: 526.25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .introduce-content .work {
    margin-top: 50px; }
    .introduce-content .work .title {
      color: #F47B36;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 50px; }
    .introduce-content .work .col-work {
      display: flex;
      justify-content: center;
      align-items: center; }
      .introduce-content .work .col-work img {
        width: auto;
        height: 350px;
        object-fit: cover; }

.sub-person-1 {
  transform: translateX(-2000px);
  transition-duration: 1.5s; }

.sub-person-2 {
  transform: translateX(2000px);
  transition-duration: 1.5s; }

.showPerson {
  transform: translateX(0px); }

footer {
  width: 100%;
  margin-top: 200px;
  min-height: 150px;
  background: #020202; }
  footer .content {
    width: 90%; }
    footer .content-row .col-footer {
      min-height: 150px;
      display: flex;
      align-items: center; }
      footer .content-row .col-footer svg {
        width: 200px; }
      footer .content-row .col-footer-content p {
        margin: 0; }
      footer .content-row .col-footer-content p.title {
        color: #FFFBFB;
        font-weight: 700; }
      footer .content-row .col-footer-content p.sub-title {
        color: #FFFDFD; }

.sub-person p {
  margin: 3px;
  font-weight: 600; }
  .sub-person p:nth-child(1) {
    font-weight: bold;
    font-size: 25px; }
  .sub-person p:nth-child(2) {
    color: #F47B36; }
