* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

.pay {
  width: 100vw;
  height: 100vh; }
  .pay-content {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px; }
    .pay-content ul {
      display: flex;
      flex-direction: column;
      padding: 0; }
      .pay-content ul li {
        width: 100%;
        border-bottom: 1px solid #e9e9e9;
        padding: 15px 0; }
        .pay-content ul li:nth-last-child(1) {
          border-bottom: none; }
      .pay-content ul .title {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        color: #000000;
        font-weight: 700; }
        .pay-content ul .title .close {
          cursor: pointer;
          border: 1px solid #000000;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px; }
      .pay-content ul .product-pay {
        display: flex;
        color: #333333;
        justify-content: space-between; }
        .pay-content ul .product-pay p {
          margin-bottom: 10px; }
        .pay-content ul .product-pay-img img {
          width: 60px;
          height: auto;
          object-fit: contain; }
        .pay-content ul .product-pay-infor {
          padding-left: 10px; }
          .pay-content ul .product-pay-infor p {
            font-weight: 800;
            font-size: 15px; }
          .pay-content ul .product-pay-infor .amount {
            margin-bottom: 10px;
            width: 70%;
            display: flex;
            border: 1px solid #000000;
            justify-content: space-between; }
            .pay-content ul .product-pay-infor .amount div {
              border-right: 1px solid #000000;
              width: 20%;
              text-align: center;
              cursor: pointer;
              font-weight: 600; }
              .pay-content ul .product-pay-infor .amount div:nth-child(2) {
                flex: 1; }
      .pay-content ul .transform {
        display: flex; }
        .pay-content ul .transform .icon img {
          width: 32px;
          object-fit: contain; }
        .pay-content ul .transform .icon span {
          font-size: 13px;
          padding-left: 5px; }
      .pay-content ul .total p {
        display: flex;
        justify-content: space-between; }
        .pay-content ul .total p input {
          width: 100%;
          background-color: #19b5ac;
          color: #fff;
          border: none;
          height: 37px; }
        .pay-content ul .total p:nth-last-child(1) span:nth-child(1) {
          border-right: 1px solid #e9e9e9;
          padding-right: 30px; }
