* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

section.product-detail {
  max-width: 1190px;
  margin: 0 auto;
  padding: 100px 0; }
  section.product-detail .container {
    margin: 0 auto;
    padding: 0; }
    section.product-detail .container .row {
      width: 100%;
      margin: 0; }
      section.product-detail .container .row .sm-row-product {
        max-width: 50%; }
        section.product-detail .container .row .sm-row-product .col-product {
          padding: 0 10px 20px; }
          section.product-detail .container .row .sm-row-product .col-product img {
            width: 100%;
            height: auto;
            max-height: 270px;
            cursor: pointer; }
            section.product-detail .container .row .sm-row-product .col-product img:hover {
              opacity: .8; }
      section.product-detail .container .row .col-detail {
        padding: 0 0 0 50px; }
        section.product-detail .container .row .col-detail .top-title h2 {
          font-size: 24px;
          font-weight: bold; }
        section.product-detail .container .row .col-detail p.price {
          font-size: 18px;
          font-weight: bold; }
        section.product-detail .container .row .col-detail .color p {
          margin-bottom: 5px; }
        section.product-detail .container .row .col-detail .color .main-color {
          padding-left: 20px; }
          section.product-detail .container .row .col-detail .color .main-color span.white {
            display: inline-flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #F99D1C;
            background-color: #020000; }
        section.product-detail .container .row .col-detail .size {
          margin-top: 20px; }
          section.product-detail .container .row .col-detail .size p {
            margin-bottom: 5px;
            font-size: 18px; }
          section.product-detail .container .row .col-detail .size .main-size {
            padding-left: 20px; }
            section.product-detail .container .row .col-detail .size .main-size ul li {
              cursor: pointer;
              list-style: none;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1.5px solid #000;
              margin-right: 30px;
              border-radius: 50%;
              font-size: 24px;
              font-weight: 700; }
            section.product-detail .container .row .col-detail .size .main-size ul li.active {
              background-color: #F99D1C;
              color: #fff; }
        section.product-detail .container .row .col-detail .amount {
          margin-top: 20px; }
          section.product-detail .container .row .col-detail .amount p {
            font-size: 18px;
            margin-bottom: 5px; }
          section.product-detail .container .row .col-detail .amount .main-amount {
            display: flex;
            flex-direction: row; }
            section.product-detail .container .row .col-detail .amount .main-amount .click-amount {
              margin-left: 20px;
              display: flex;
              height: 40px;
              width: 150px;
              background: #FFFFFF;
              border: 0.25px solid #000000;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 4px; }
              section.product-detail .container .row .col-detail .amount .main-amount .click-amount button {
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 25px;
                cursor: pointer;
                border: none; }
                section.product-detail .container .row .col-detail .amount .main-amount .click-amount button:focus {
                  outline-width: 0; }
              section.product-detail .container .row .col-detail .amount .main-amount .click-amount input {
                flex: 1;
                border-left: 0.25px solid #000000;
                border-right: 0.25px solid #000000;
                text-align: center;
                width: 100%;
                height: 100%;
                border-top: none;
                border-bottom: none; }
            section.product-detail .container .row .col-detail .amount .main-amount .click-to-cart {
              cursor: pointer;
              margin-left: 20px; }
              section.product-detail .container .row .col-detail .amount .main-amount .click-to-cart .main-click-cart {
                width: 200px;
                height: 25px;
                background-color: #F99D1C;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center; }
