* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

.shipment {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF; }
  .shipment-content .col-ship {
    margin-top: 50px; }
    .shipment-content .col-ship .title {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 30px; }
    .shipment-content .col-ship-content {
      border: 1px solid #51514E;
      padding-left: 20px;
      padding-bottom: 50px; }
      .shipment-content .col-ship-content input {
        width: 80%;
        height: 50px;
        padding-left: 8px;
        border: 1px solid #FB7C35;
        border-radius: 4px;
        margin-top: 20px; }
        .shipment-content .col-ship-content input:focus {
          outline-width: 0; }
    .shipment-content .col-ship-infor {
      min-height: 472px;
      color: #000000;
      font-weight: 600;
      border: 1px solid #51514E;
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      padding-top: 20px; }
      .shipment-content .col-ship-infor-title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #51514E; }
        .shipment-content .col-ship-infor-title p:nth-child(2) {
          margin-left: 45px; }
      .shipment-content .col-ship-infor-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 232px;
        padding-top: 20px; }
        .shipment-content .col-ship-infor-content p img {
          width: 100px;
          height: auto;
          object-fit: contain; }
        .shipment-content .col-ship-infor-content p span {
          margin-left: 10px; }
      .shipment-content .col-ship-infor-total {
        border-top: 1px solid #51514E;
        display: flex;
        justify-content: space-between;
        padding-top: 10px; }
        .shipment-content .col-ship-infor-total p {
          font-size: 25px; }
          .shipment-content .col-ship-infor-total p:nth-child(2) {
            color: #FB7C35;
            font-weight: bold; }

.col-ship-pay {
  border: 1px solid #51514E;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 100px; }
  .col-ship-pay p {
    display: flex;
    margin-bottom: 30px; }
    .col-ship-pay p input {
      width: 30px;
      height: 26px;
      cursor: pointer; }
    .col-ship-pay p img {
      margin-left: 20px;
      width: 30px;
      height: auto;
      object-fit: contain; }
    .col-ship-pay p span {
      margin-left: 15px;
      font-size: 20px;
      color: #000000; }

.shipment-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .shipment-overlay .notification {
    position: absolute;
    left: 35%;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    width: 500px;
    height: 200px; }
    .shipment-overlay .notification .check {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #000000;
      display: flex;
      justify-content: center;
      align-items: center; }
    .shipment-overlay .notification a input {
      width: 200px;
      height: 50px;
      background-color: #FB7C35;
      color: #FFFFFF; }

.btn {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .btn .div-btn {
    display: flex;
    justify-content: flex-start;
    text-decoration: none; }
    .btn .div-btn input {
      margin-bottom: 15px;
      width: 150px;
      height: 50px;
      border-radius: 5px;
      background-color: #FB7C35;
      border: none;
      color: #FFFFFF; }
      .btn .div-btn input:focus {
        outline-width: 0; }
      .btn .div-btn input:hover {
        opacity: .8; }
  .btn p {
    text-align: start;
    font-size: 15px;
    color: #000000; }

.show-overlay {
  display: block; }
