* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

section.short {
  max-width: 1190px;
  margin: 0 auto;
  padding: 100px 0; }
  section.short .container {
    margin: 0 auto;
    padding: 0; }
    section.short .container .top-title {
      margin-bottom: 15px; }
      section.short .container .top-title h1 {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 32px;
        margin: 0;
        text-decoration: underline;
        text-decoration-color: #f99d1c; }
    section.short .container .menu-type-clothes {
      display: flex;
      justify-content: center;
      margin-bottom: 30px; }
      section.short .container .menu-type-clothes .sm-menu a {
        text-decoration: none;
        color: #000;
        display: inline-flex; }
        section.short .container .menu-type-clothes .sm-menu a span {
          display: inline-flex;
          padding: 0 20px;
          height: 40px;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: bold;
          color: #000; }
      section.short .container .menu-type-clothes .menu-T-shirt, section.short .container .menu-type-clothes .menu-shirt, section.short .container .menu-type-clothes .menu-short {
        border-right: 2px solid #f99d1c; }
      section.short .container .menu-type-clothes .menu-short span {
        color: #f99d1c !important; }
    section.short .container .row {
      width: 100%;
      margin: 0; }
      section.short .container .row .product-col {
        padding: 0 5px; }
        section.short .container .row .product-col a {
          display: block;
          line-height: 100%; }
          section.short .container .row .product-col a img {
            width: 100%;
            height: auto;
            object-fit: cover; }
        section.short .container .row .product-col .col-detail {
          margin: 5px 0 0 0;
          border: 1px solid #000;
          background-color: #c4c4c4; }
          section.short .container .row .product-col .col-detail p {
            text-align: center;
            min-height: 66px;
            margin: 0;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: 600; }
            section.short .container .row .product-col .col-detail p span.price {
              width: 100%;
              text-align: center;
              font-size: 14px; }
    section.short .container .second-row,
    section.short .container .third-row,
    section.short .container .fourth-row,
    section.short .container .form-contact {
      margin-top: 100px; }
    section.short .container .fifth-row-hidden {
      display: none;
      margin-top: 50px; }
    section.short .container .see-more {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      cursor: pointer; }
      section.short .container .see-more span {
        display: block;
        padding: 1% 3%;
        background-color: #fff;
        border: 2px solid #f99d1c;
        font-size: 14px;
        font-weight: 700; }
        section.short .container .see-more span:hover {
          background-color: #f99d1c;
          color: #fff; }
    section.short .container .form-contact {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      section.short .container .form-contact .top-title h2 {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        max-width: 50%;
        justify-content: center; }
        section.short .container .form-contact .top-title h2 span.content {
          margin-right: 10px;
          font-size: 26px;
          font-weight: bold; }
        section.short .container .form-contact .top-title h2 span.logo img {
          max-width: 100px;
          height: auto; }
        section.short .container .form-contact .top-title h2 span {
          display: flex;
          justify-content: center;
          align-items: center; }
      section.short .container .form-contact span.email input {
        border-top: none;
        border-bottom: 1px solid #000;
        border-left: none;
        border-right: none;
        outline: none;
        text-align: center; }
      section.short .container .form-contact .gender {
        margin-top: 30px; }
        section.short .container .form-contact .gender .main-content {
          width: max-content;
          display: flex;
          flex-direction: row; }
          section.short .container .form-contact .gender .main-content span.male {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 40px;
            border: 1px solid #000;
            margin-right: 40px;
            font-size: 14px;
            font-family: Roboto-400;
            cursor: pointer; }
          section.short .container .form-contact .gender .main-content span.female {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 40px;
            border: 1px solid #000;
            font-size: 14px;
            font-family: Roboto-400;
            cursor: pointer; }
      section.short .container .form-contact .sign-up {
        margin-top: 30px; }
        section.short .container .form-contact .sign-up a {
          display: inline-flex;
          width: 200px;
          height: 45px;
          border: 2px solid #000;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: #000;
          font-size: 16px;
          font-family: Roboto-700; }
          section.short .container .form-contact .sign-up a:hover {
            background-color: #f99d1c;
            color: #fff;
            border: none; }
      section.short .container .form-contact span.email,
      section.short .container .form-contact .gender,
      section.short .container .form-contact .sign-up {
        display: flex;
        justify-content: center; }
      section.short .container .form-contact .icon-social {
        margin-top: 20px;
        display: flex;
        justify-content: center; }
        section.short .container .form-contact .icon-social .main-social {
          width: max-content; }
          section.short .container .form-contact .icon-social .main-social a.facebook img {
            width: 60px;
            height: 60px; }
          section.short .container .form-contact .icon-social .main-social a.insta img {
            width: 90px;
            height: 90px; }
          section.short .container .form-contact .icon-social .main-social a.gmail img {
            width: 70px;
            height: 70px; }

.gender .male:focus {
  background: #f99d1c;
  color: #fff;
  border: none; }

.gender .female:focus {
  background: #f99d1c;
  color: #fff;
  border: none !important; }
