.section-sign {
  margin-top: 100px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-sign .sign-content {
    width: 50%;
    height: 60%;
    background-color: #c9c0b9;
    padding-top: 60px;
    padding-bottom: 30px; }
    .section-sign .sign-content ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-sign .sign-content ul li {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 50px;
        margin-bottom: 15px; }
      .section-sign .sign-content ul .email input,
      .section-sign .sign-content ul .pass input {
        height: 40px;
        border: 1px solid #FB7C35;
        width: 80%;
        padding-left: 15px; }
        .section-sign .sign-content ul .email input:focus,
        .section-sign .sign-content ul .pass input:focus {
          outline-width: 0; }
      .section-sign .sign-content ul .forget span {
        color: #FFFFFF;
        margin-left: 10px;
        font-size: 14px; }
      .section-sign .sign-content ul .title {
        font-size: 25px;
        color: #FFFFFF;
        font-weight: 700; }
      .section-sign .sign-content ul .icon {
        margin-top: 20px;
        width: 70%;
        padding-left: 0px;
        justify-content: space-evenly; }
        .section-sign .sign-content ul .icon-sign img {
          cursor: pointer;
          width: 50px;
          height: auto;
          object-fit: contain; }
      .section-sign .sign-content ul .btn {
        font-size: 13px;
        color: #FFFFFF; }
        .section-sign .sign-content ul .btn input {
          width: 120px;
          height: 30px;
          border: none;
          background-color: #FB7C35;
          border-radius: 4px;
          color: #FFFFFF; }
          .section-sign .sign-content ul .btn input:focus {
            outline-width: 0; }
          .section-sign .sign-content ul .btn input:hover {
            color: #000;
            opacity: .8; }
        .section-sign .sign-content ul .btn span {
          margin-left: 10px; }
        .section-sign .sign-content ul .btn a {
          margin-left: 5px;
          color: #FFFFFF; }
      .section-sign .sign-content ul .know {
        color: #FFFFFF;
        font-size: 13px; }
        .section-sign .sign-content ul .know a {
          margin-left: 5px;
          color: #FB7C35; }
