* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

ul {
  display: flex;
  margin: 0; }

header {
  width: 100%; }
  header nav {
    min-height: 80px; }
    header nav .nav-content {
      padding-right: 30px;
      width: 100vw;
      min-height: 80px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #000000; }
      header nav .nav-content .col-select li,
      header nav .nav-content .col-sign li {
        margin-left: 30px;
        margin-right: 15px;
        display: flex;
        align-items: center; }
        header nav .nav-content .col-select li a,
        header nav .nav-content .col-sign li a {
          color: #000000;
          font-weight: 700;
          text-decoration: none; }
      header nav .nav-content .col-select .click-pay,
      header nav .nav-content .col-select .click-search,
      header nav .nav-content .col-sign .click-pay,
      header nav .nav-content .col-sign .click-search {
        color: #000000;
        font-weight: 700;
        cursor: pointer; }
      header nav .nav-content .col-logo {
        cursor: pointer; }
        header nav .nav-content .col-logo img {
          width: auto;
          object-fit: contain;
          height: 50px; }
  header .bottom-header {
    padding-left: 100px;
    border-bottom: 2px solid #000000; }
    header .bottom-header ul li {
      margin-right: 150px; }
      header .bottom-header ul li a {
        color: #000;
        font-size: 13px; }
      header .bottom-header ul li svg {
        margin-bottom: 2px; }
  header .slider-header {
    width: 100%;
    height: auto; }
    header .slider-header-img img {
      width: 100%;
      height: auto;
      object-fit: contain; }

.search {
  width: 100vw;
  background-color: #FFFBFB;
  height: 300px;
  position: fixed;
  background: #fff;
  max-height: 100%;
  overflow-y: auto;
  z-index: 9;
  transform: translateY(-1500px);
  animation: bounceInDown 1500ms ease-in-out;
  transition-duration: 1s; }
  .search-input {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .search-input input {
      width: 80%;
      border: none;
      padding-left: 30px; }
      .search-input input:focus {
        outline-width: 0; }
      .search-input input::placeholder {
        font-size: 25px; }
    .search-input .close {
      cursor: pointer;
      font-size: 40px; }
  .search-virtual {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 1px;
    background-color: #000; }

footer {
  width: 100%;
  margin-top: 200px;
  min-height: 150px;
  background: #020202; }
  footer .content {
    width: 90%; }
    footer .content-row .col-footer {
      min-height: 150px;
      display: flex;
      align-items: center; }
      footer .content-row .col-footer svg {
        width: 200px; }
      footer .content-row .col-footer-content p {
        margin: 0; }
      footer .content-row .col-footer-content p.title {
        color: #FFFBFB;
        font-weight: 700; }
      footer .content-row .col-footer-content p.sub-title {
        color: #FFFDFD; }

.showSearch {
  transform: translateY(-19px);
  top: 0px; }

.pay {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  transform: translateX(2000px);
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
  z-index: 99;
  padding-right: 15px; }
  .pay-content {
    width: 420px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    z-index: 10; }
    .pay-content ul {
      display: flex;
      flex-direction: column;
      padding: 0; }
      .pay-content ul li {
        width: 100%;
        border-bottom: 1px solid #e9e9e9;
        padding: 15px 0; }
        .pay-content ul li:nth-last-child(1) {
          border-bottom: none; }
      .pay-content ul .title {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        color: #000000;
        font-weight: 700; }
        .pay-content ul .title .close-pay {
          cursor: pointer;
          border: 1px solid #000000;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px; }
      .pay-content ul .product-pay {
        display: flex;
        color: #333333;
        justify-content: space-between; }
        .pay-content ul .product-pay p {
          margin-bottom: 10px; }
        .pay-content ul .product-pay-img img {
          width: 60px;
          height: auto;
          object-fit: contain; }
        .pay-content ul .product-pay-infor {
          padding-left: 10px; }
          .pay-content ul .product-pay-infor p {
            font-weight: 800;
            font-size: 15px; }
          .pay-content ul .product-pay-infor .amount {
            margin-bottom: 10px;
            width: 70%;
            display: flex;
            border: 1px solid #000000;
            justify-content: space-between; }
            .pay-content ul .product-pay-infor .amount div {
              border-right: 1px solid #000000;
              width: 20%;
              text-align: center;
              cursor: pointer;
              font-weight: 600; }
              .pay-content ul .product-pay-infor .amount div:nth-child(2) {
                flex: 1; }
      .pay-content ul .transform {
        display: flex; }
        .pay-content ul .transform .icon img {
          width: 32px;
          object-fit: contain; }
        .pay-content ul .transform .icon span {
          font-size: 13px;
          padding-left: 5px; }
      .pay-content ul .total p {
        display: flex;
        justify-content: space-between; }
        .pay-content ul .total p input {
          width: 100%;
          background-color: #19b5ac;
          color: #fff;
          border: none;
          height: 37px; }
        .pay-content ul .total p:nth-last-child(1) span:nth-child(1) {
          border-right: 1px solid #e9e9e9;
          padding-right: 30px; }
  .pay-virtual {
    flex: 1;
    background-color: #000000;
    opacity: 0; }

.showPay {
  transform: translateX(0px); }
