* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

ul li {
  list-style: none; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

.sub-work-1 {
  max-width: 1190px;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }
  .sub-work-1 .col-work {
    display: flex;
    justify-content: center;
    align-items: center; }
    .sub-work-1 .col-work img {
      width: auto;
      height: 350px;
      object-fit: cover; }

.sub-work-2 {
  max-width: 1190px;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }
  .sub-work-2 .col-work {
    display: flex;
    justify-content: center;
    align-items: center; }
    .sub-work-2 .col-work img {
      width: auto;
      height: 350px;
      object-fit: cover; }
