@import "common.scss";

.section-sign{
    background-color: #C1C1C1;
    width: 100%;
    min-height: 560px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .sign-content{    
        width: 100%;
        height: 60%;   
        padding-top: 60px;
        padding-bottom: 30px;
        &-row{
            display: flex;
            padding-left: 150px;
            .sign-account{
                font-size: 25px;
                color: #51514E;
                font-weight: 700;
                padding-top: 2px;
                p{
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    a{
                        color: #51514E;
                        text-decoration: none;
                        &:hover{
                            color: #FB7C35;
                        }
                    }
                    &:nth-child(1){
                        margin-top: 40px;
                    }
                }
            }
            ul{
                padding-left: 350px;
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                li{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 50px;
                    margin-bottom: 15px;
                }
                .email,
                .pass{
                    input{
                        height: 40px;
                        border: 1px solid #FB7C35;
                        width: 80%;
                        padding-left: 15px;
                        &:focus{
                            outline-width: 0;
                        }
                    }
                }
                .forget{
                    span{
                        color: #FFFFFF;
                        margin-left: 10px;
                        font-size: 14px;
                    }
                }
                .title{
                    font-size: 25px;
                    color: #51514E;
                    font-weight: 700;
                }
                .icon{
                    margin-top: 20px;
                    width: 70%;
                    padding-left: 0px;
                    justify-content: space-evenly;
                    &-sign{
                        img{
                            cursor: pointer;
                            width: 50px;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                }
                .btn{
                    font-size: 13px;
                    color: #51514E;
                    input{
                        width: 120px;
                        height: 30px;
                        border: none;
                        background-color: #FB7C35;
                        border-radius: 4px;
                        color: #FFFFFF;
                        &:focus{
                            outline-width: 0;
                        }
                    }
                    span{
                        margin-left: 10px;
                    }
                    a{
                        margin-left: 5px;
                        color: #51514E;
                    }
                }
            }
        }
    }
}



footer{
    margin-top: 0px !important;
}

