@import "common.scss";

.collection{
    width: 100%;
    height: auto;
    &-content{
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    p{
        margin-top: 30px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 30px;
    }
}