@import "common.scss";

section.form-home {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    padding: 100px 0;
    .container {
        margin: 0 auto;
        padding: 0;
        .form-contact {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .top-title {
                h2 {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: row;
                    max-width: 50%;
                    justify-content: center;
                    span.content {
                        margin-right: 10px;
                        font-size: 26px;
                       
                        font-weight: bold;
                    }
                    span.logo {
                        img {
                            max-width: 100px;
                            height: auto;
                        }
                    }
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            span.email {
                input {
                    border-top: none;
                    border-bottom: 1px solid #000;
                    border-left: none;
                    border-right: none;
                    outline: none;
                    text-align: center;
                }
            }
            .gender {
                margin-top: 30px;
                .main-content {
                    width: max-content;
                    display: flex;
                    flex-direction: row;
                    span.male {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        border: 1px solid #000;
                        margin-right: 40px;
                        font-size: 14px;
                        
                        cursor: pointer;
                    }
                    span.female {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        border: 1px solid #000;
                        font-size: 14px;
                       
                        cursor: pointer;
                    }
                }
            }
            .sign-up {
                margin-top: 30px;
                a {
                    display: inline-flex;
                    width: 200px;
                    height: 45px;
                    border: 2px solid #000;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: #000;
                    font-size: 16px;
                    
                    &:hover {
                        background-color: #f99d1c;
                        color: #fff;
                        border: none;
                    }
                }
            }
            span.email,
            .gender,
            .sign-up {
                display: flex;
                justify-content: center;
            }

            .icon-social {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                .main-social {
                    width: max-content;
                    a.facebook {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                    a.insta {
                        img {
                            width: 90px;
                            height: 90px;
                        }
                    }
                    a.gmail {
                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
        }
    }    
}    