@import "common.scss";

.home{
    width: 100%;
    position: relative;
    display: flex;
    min-height: 1008px;
    font-size: 25px;
    font-weight: 600;
    &-logo{
        position: absolute;
        top: 5%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 300px;
            height: auto;
            object-fit: contain;
        }
    }
    &-man{   
        cursor: pointer;
        padding-left: 300px;
        padding-top: 143px;
        color: #000000;
        width: 50%;
        background-image: url(../img/header/home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover{
            color: beige;
        }
       
    }
    &-women{
        cursor: pointer;
        color: #FB7C35;
        p{
            text-align: center;
        }
        width: 50%;
        padding-top: 143px;
        background-image: url(../img/header/home-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover{
            color: beige;
        }
    }
}