@import "common.scss";


ul{
    display: flex;
    margin: 0;
}

header{
    width: 100%;
    nav{
        min-height: 80px;
        .nav-content{
            padding-left: 30px;
            padding-right: 30px;
            width: 100vw;
            min-height: 80px;
            justify-content: space-between;
            align-items: center;
            border-top: 2px solid #000000;
            border-bottom: 2px solid #000000;
            .col-select,
            .col-sign
            {
                li{
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    a{
                        color: #000000;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
            }
            .col-logo{
                img{
                    width: auto;
                    object-fit: contain;
                    height: 50px;
                }
            }
        }
    }
    .bottom-header{
        padding-left: 100px;
        border-bottom: 2px solid #000000;
        ul{
            li{
                margin-right: 150px;
                a{
                    color: #000;
                    font-size: 13px;
                }
                svg{
                    margin-bottom: 2px;
                }
            }
        }
    }
    .slider-header{
        width: 100%;
        .slider-first{
            height: 730px;
            width: auto;
            background-image: url(../img/introduce/bai2/Untitled-1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .slider-second{
            height: 730px;
            width: auto;
            background-image: url(../img/introduce/bai2/Untitled-2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.introduce{
    margin-top: 100px;
    max-width: 1190px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    &-content{
        .about{
            .title{
                color: #F47B36;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 50px;
            }
            &-col{
                margin-top: 30px;
                img{
                    width: 100%;
                    height: 526.25px;
                    object-fit: cover;
                }
            }
            .sub-person{
                background-color: #C4C4C4;
                height: 526.25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .work{
            margin-top: 50px;
           .title{
                color: #F47B36;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 50px;
            }
            .col-work{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: auto;
                    height: 350px;
                    object-fit: cover;
                }
            }
        }
    }
}

.sub-person-1{
    transform: translateX(2000px);
    transition-duration: 1.5s;
    
}

.showPerson{
    transform: translateX(0px);
}



footer{
    width: 100%;
    margin-top: 200px;
    min-height: 150px;
    background: #020202;
    .content{
        width: 90%;
        &-row{
            .col-footer{
                min-height: 150px;
                display: flex;
                align-items: center;
                svg{
                    width: 200px;
                }
                &-content{
                   
                    p{
                        margin: 0;
                    }
                    p.title{
                        color: #FFFBFB;
                        font-weight: 700;
                    }
                    p.sub-title{
                        color: #FFFDFD;
                    }
                }
            }
        }
    }
}
.sub-person{
    p{
        margin: 3px;
        font-weight: 600;
        &:nth-child(1){
            font-weight: bold;
            font-size: 25px;
        }
        &:nth-child(2){
            color: #F47B36;
        }
    }
}