@import "common.scss";

.pay{
    width: 100vw;
    height: 100vh;
    &-content{
        width: 420px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        li{
            width: 100%;
            border-bottom: 1px solid #e9e9e9;
            padding: 15px 0;
            &:nth-last-child(1){
                border-bottom: none;
            }
        }
        .title{
            display: flex;
            justify-content: space-between;
            font-size: 22px;
            color: #000000;
            font-weight: 700;
            .close{
                cursor: pointer;
                border: 1px solid #000000;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .product-pay{
            display: flex;
            color: #333333;
            justify-content: space-between;
           
            p{
                margin-bottom: 10px;
            }
            &-img{
                img{
                    width: 60px;
                    height: auto;
                    object-fit: contain;
                }
            }
            &-infor{
                padding-left: 10px;
                p{
                    font-weight: 800;
                    font-size: 15px;
                }
                .amount{
                    margin-bottom: 10px;
                    width: 70%;
                    display: flex;
                    border: 1px solid #000000;
                    justify-content: space-between;
                    div{
                        border-right: 1px solid #000000;
                        width: 20%;
                        text-align: center;
                        cursor: pointer;
                        font-weight: 600;
                        &:nth-child(2){
                            flex: 1;
                        }
                    }
                }
            }
        }
        .transform{
            display: flex;
            .icon{
                img{
                    width: 32px;
                    object-fit: contain;
                }
                span{
                    font-size: 13px;
                    padding-left: 5px;
                }
            }
        }
        .total{
            p{
                display: flex;
                justify-content: space-between;
                input{
                    width: 100%;
                    background-color: #19b5ac;
                    color: #fff;
                    border: none;
                    height: 37px;
                }
                &:nth-last-child(1){
                    span{
                        &:nth-child(1){
                            border-right: 1px solid #e9e9e9;
                            padding-right: 30px;
                        }
                    }
                }
            }
        }
    }
    }
}