@import "common.scss";

section.product-detail {
    max-width: 1190px;
    margin: 0 auto;
    padding: 100px 0;
    .container {
        margin: 0 auto;
        padding: 0;
        .row {
            width: 100%;
            margin: 0;
            .sm-row-product {
                max-width: 50%;
                .col-product {
                    padding: 0 10px 20px;
                    img {
                        width: 100%;
                        height: auto;
                        max-height: 270px;
                        cursor: pointer;
                        &:hover{
                           opacity: .8;
                        }
                    }
                }
            }
            .col-detail {
                padding: 0 0 0 50px;
                .top-title {
                    h2 {
                        font-size: 24px;
                        
                        font-weight: bold;
                    }
                }
                p.price {
                    font-size: 18px;
                   
                    font-weight: bold;
                }
                .color {
                    p {
                        margin-bottom: 5px;
                    }
                    .main-color {
                        padding-left: 20px;
                        span.white {
                            display: inline-flex;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: 2px solid #F99D1C;
                            background-color: #020000;
                        }
                    }
                }
                .size{
                    margin-top: 20px;
                    p{
                        margin-bottom: 5px;
                        font-size: 18px;
                    }
                    .main-size{
                        padding-left: 20px;
                        ul{
                            li{
                                cursor: pointer;
                                list-style: none;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1.5px solid #000;
                                margin-right: 30px;
                                border-radius: 50%;
                                font-size: 24px;
                                font-weight: 700;
                            }
                            li.active{
                                background-color: #F99D1C;
                                color: #fff;

                            }
                        }
                    }
                }
                .amount{
                    margin-top: 20px;
                    p{
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                    .main-amount{
                        display: flex;
                        flex-direction: row;
                        .click-amount{
                            margin-left: 20px;
                            display: flex;
                            height: 40px;
                            width: 150px;
                            background: #FFFFFF;
                            border: 0.25px solid #000000;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 4px;
                            button{
                                width: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: bold;
                                font-size: 25px;
                                cursor: pointer;   
                                border: none;   
                                &:focus{
                                    outline-width: 0;
                                }
                            }
                            input{
                                flex: 1;
                                border-left: 0.25px solid #000000;
                                border-right: 0.25px solid #000000;
                                text-align: center;
                                width: 100%;
                                height: 100%;
                                border-top: none;
                                border-bottom: none;
                            }
                        }
                        .click-to-cart{
                            cursor: pointer;
                            margin-left: 20px;
                            .main-click-cart{
                                width: 200px;
                                height: 25px;
                                background-color: #F99D1C;
                                color: #fff;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
