@import "common.scss";

//main-section//
section.shirt {
    max-width: 1190px;
    margin: 0 auto;
    padding: 100px 0;
    .container {
        margin: 0 auto;
        padding: 0;
        .top-title {
            margin-bottom: 15px;
            h1 {
                display: flex;
                justify-content: center;
                font-weight: bold;
                font-size: 32px;
                margin: 0;
                text-decoration: underline;
                text-decoration-color: #f99d1c;
            }
        }
        .menu-type-clothes {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            .sm-menu {
                a {
                    text-decoration: none;
                    color: #000;
                    display: inline-flex;
                    span {
                        display: inline-flex;
                        padding: 0 20px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        font-weight: bold;
                        color: #000;
                    }
                }
            }
            .menu-T-shirt, .menu-shirt, .menu-short{
                border-right: 2px solid #f99d1c;
            }
            .menu-shirt{
                span{
                    color: #f99d1c !important;
                }
            }
        }
        .row {
            width: 100%;
            margin: 0;
            .product-col {
                padding: 0 5px;
                a {
                    display: block;
                    line-height: 100%;
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
                .col-detail {
                    margin: 5px 0 0 0;
                    border: 1px solid #000;
                    background-color: #c4c4c4;
                    p {
                        text-align: center;
                        min-height: 66px;
                        margin: 0;
                        font-size: 13px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-weight: 600;
                        span.price {
                            width: 100%;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .second-row,
        .third-row,
        .fourth-row,
        .form-contact {
            margin-top: 100px;
        }
        .fifth-row-hidden {
            display: none;
            margin-top: 50px;
        }
        .see-more {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            span {
                display: block;
                padding: 1% 3%;
                background-color: #fff;
                border: 2px solid #f99d1c;
                font-size: 14px;
                font-weight: 700;
                &:hover {
                    background-color: #f99d1c;
                    color: #fff;
                }
            }
        }
        .form-contact {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .top-title {
                h2 {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: row;
                    max-width: 50%;
                    justify-content: center;
                    span.content {
                        margin-right: 10px;
                        font-size: 26px;
                        font-weight: bold;
                    }
                    span.logo {
                        img {
                            max-width: 100px;
                            height: auto;
                        }
                    }
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            span.email {
                input {
                    border-top: none;
                    border-bottom: 1px solid #000;
                    border-left: none;
                    border-right: none;
                    outline: none;
                    text-align: center;
                }
            }
            .gender {
                margin-top: 30px;
                .main-content {
                    width: max-content;
                    display: flex;
                    flex-direction: row;
                    span.male {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        border: 1px solid #000;
                        margin-right: 40px;
                        font-size: 14px;
                        cursor: pointer;
                    }
                    span.female {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        border: 1px solid #000;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }
            .sign-up {
                margin-top: 30px;
                a {
                    display: inline-flex;
                    width: 200px;
                    height: 45px;
                    border: 2px solid #000;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: #000;
                    font-size: 16px;
                   font-weight: 700;
                    &:hover {
                        background-color: #f99d1c;
                        color: #fff;
                        border: none;
                    }
                }
            }
            span.email,
            .gender,
            .sign-up {
                display: flex;
                justify-content: center;
            }

            .icon-social {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                .main-social {
                    width: max-content;
                    a.facebook {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                    a.insta {
                        img {
                            width: 90px;
                            height: 90px;
                        }
                    }
                    a.gmail {
                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}

//focus//
.gender .male:focus {
    background: #f99d1c;
    color: #fff;
    border: none;
}
.gender .female:focus {
    background: #f99d1c;
    color: #fff;
    border: none !important;
}
