.section-sign{
    margin-top: 100px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .sign-content{    
        width: 50%;
        height: 60%;
        background-color: #c9c0b9;    
        padding-top: 60px;
        padding-bottom: 30px;
        ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 50px;
                margin-bottom: 15px;
            }
            .email,
            .pass{
                input{
                    height: 40px;
                    border: 1px solid #FB7C35;
                    width: 80%;
                    padding-left: 15px;
                    &:focus{
                        outline-width: 0;
                    }
                }
            }
            .forget{
                span{
                    color: #FFFFFF;
                    margin-left: 10px;
                    font-size: 14px;
                }
            }
            .title{
                font-size: 25px;
                color: #FFFFFF;
                font-weight: 700;
            }
            .icon{
                margin-top: 20px;
                width: 70%;
                padding-left: 0px;
                justify-content: space-evenly;
                &-sign{
                    img{
                        cursor: pointer;
                        width: 50px;
                        height: auto;
                        object-fit: contain;
                    }
                }
            }
            .btn{
                font-size: 13px;
                color: #FFFFFF;
                input{
                    width: 120px;
                    height: 30px;
                    border: none;
                    background-color: #FB7C35;
                    border-radius: 4px;
                    color: #FFFFFF;
                    &:focus{
                        outline-width: 0;
                    }
                    &:hover{
                        color: #000;
                        opacity: .8;
                    }
                }
                span{
                    margin-left: 10px;
                }
                a{
                    margin-left: 5px;
                    color: #FFFFFF;
                }
            }
            .know{
                color: #FFFFFF;
                font-size: 13px;
                a{
                    margin-left: 5px;
                    color: #FB7C35;
                }
            }
        }
    }
}