@import "common.scss";


ul{
    display: flex;
    margin: 0;
}

header{
    width: 100%;
    nav{
        min-height: 80px;
        .nav-content{
           
            padding-right: 30px;
            width: 100vw;
            min-height: 80px;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #000000;
            .col-select,
            .col-sign
            {
                li{
                    margin-left: 30px;
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    a{
                        color: #000000;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
                .click-pay,
                .click-search{
                    color: #000000;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
            .col-logo{
                cursor: pointer;
                img{
                    width: auto;
                    object-fit: contain;
                    height: 50px;
                }
            }
        }
    }
    .bottom-header{
        padding-left: 100px;
        border-bottom: 2px solid #000000;
        ul{
            li{
                margin-right: 150px;
                a{
                    color: #000;
                    font-size: 13px;
                }
                svg{
                    margin-bottom: 2px;
                }
            }
        }
    }
    .slider-header{
        width: 100%;
       height: auto;
        &-img{
            img{
                width: 100%;
               height: auto;     
                object-fit: contain;
            }
        }
    }
}

.search{
    width: 100vw;
    background-color: #FFFBFB;
    height: 300px;
    position: fixed;
    background: #fff;
    max-height: 100%;
    overflow-y: auto;
    z-index: 9;

    transform: translateY(-1500px);
    animation: bounceInDown 1500ms ease-in-out;
    transition-duration: 1s;
    &-input{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        input{
            width: 80%;
            border: none;
            padding-left: 30px;
            &:focus{
                outline-width: 0;
            }
            &::placeholder{
                font-size: 25px;
            }
        }
        .close{
            cursor: pointer;
            font-size: 40px;
        }
    }
    &-virtual{
        width: 77%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 1px;
        background-color: #000;
    }
}

footer{
    width: 100%;
    margin-top: 200px;
    min-height: 150px;
    background: #020202;
    .content{
        width: 90%;
        &-row{
            .col-footer{
                min-height: 150px;
                display: flex;
                align-items: center;
                svg{
                    width: 200px;
                }
                &-content{
                   
                    p{
                        margin: 0;
                    }
                    p.title{
                        color: #FFFBFB;
                        font-weight: 700;
                    }
                    p.sub-title{
                        color: #FFFDFD;
                    }
                }
            }
        }
    }
}
.showSearch{
    transform: translateY(-19px);
    top: 0px;
}

.pay{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top:0;
    transform: translateX(2000px);
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
    z-index: 99;
    padding-right: 15px;
    &-content{
    width: 420px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    z-index: 10;
    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        li{
            width: 100%;
            border-bottom: 1px solid #e9e9e9;
            padding: 15px 0;
            &:nth-last-child(1){
                border-bottom: none;
            }
        }
        .title{
            display: flex;
            justify-content: space-between;
            font-size: 22px;
            color: #000000;
            font-weight: 700;
            .close-pay{
                cursor: pointer;
                border: 1px solid #000000;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .product-pay{
            display: flex;
            color: #333333;
            justify-content: space-between;
           
            p{
                margin-bottom: 10px;
            }
            &-img{
                img{
                    width: 60px;
                    height: auto;
                    object-fit: contain;
                }
            }
            &-infor{
                padding-left: 10px;
                p{
                    font-weight: 800;
                    font-size: 15px;
                }
                .amount{
                    margin-bottom: 10px;
                    width: 70%;
                    display: flex;
                    border: 1px solid #000000;
                    justify-content: space-between;
                    div{
                        border-right: 1px solid #000000;
                        width: 20%;
                        text-align: center;
                        cursor: pointer;
                        font-weight: 600;
                        &:nth-child(2){
                            flex: 1;
                        }
                    }
                }
            }
        }
        .transform{
            display: flex;
            .icon{
                img{
                    width: 32px;
                    object-fit: contain;
                }
                span{
                    font-size: 13px;
                    padding-left: 5px;
                }
            }
        }
        .total{
            p{
                display: flex;
                justify-content: space-between;
                input{
                    width: 100%;
                    background-color: #19b5ac;
                    color: #fff;
                    border: none;
                    height: 37px;
                }
                &:nth-last-child(1){
                    span{
                        &:nth-child(1){
                            border-right: 1px solid #e9e9e9;
                            padding-right: 30px;
                        }
                    }
                }
            }
        }
    }
    }
    &-virtual{
        flex: 1;
        background-color: #000000;
        opacity: 0;
    }
}
.showPay{
    transform: translateX(0px);
}