@import "common.scss";
.sub-work-1{
    max-width: 1190px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    .col-work{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: auto;
            height: 350px;
            object-fit: cover;
        }
    }
}
.sub-work-2{
    max-width: 1190px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    .col-work{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: auto;
            height: 350px;
            object-fit: cover;
        }
    }
}